{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">

        <div class="card-deck">

            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h4 class="card-title text-left">Your Avatar</h4>
                    <img src="{% get_media_prefix %}/{{ request.user.profile.avatar }}" height="200"
                        class="rounded-circle" alt="avatar"><br><br>
                    {{ profile_form.avatar }}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Status</h4>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Your Details</h4>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                {{ user_form.first_name }}
                                <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                {{ user_form.last_name }}
                                <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
                            </div>
                        </div>
                    </div>
                    <div class="md-form">
                        {{ profile_form.location }}
                        <label for="{{ profile_form.location.id_for_label }}">Location:</label>
                    </div>

                    Your Date of Birth:
                    {{ profile_form.birth_date }}
                    <br>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title"><a>About You</a></h4>
                    <div class="form-group purple-border">
                        <label for="{{ profile_form.bio.id_for_label }}">Biography:</label>
                        {{ profile_form.bio }}
                    </div>
                    <div class="md-form">
                        {{ profile_form.signature }}
                        <label for="{{ profile_form.signature.id_for_label }}">Signature:</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success btn-rounded" type="submit">Save changes</button>
        <a href="/accounts/password/change" class="btn btn-warning btn-rounded">Change Password</a>
        <a href="/profile/delete/" class="btn custom-btn btn-rounded">Delete Account</a>
    </div>
</form>
<br><br>

{% endblock %}

{# profile_form.as_p #}