{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title text-left">Edit your discussion</h4><br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <img class="card-img-top" src="{% get_media_prefix %}/{{ discussion.picture }}"
                            alt="Discussion image">
                        Update your picture: {{ discussion_form.picture}}
                    </p>
                    <div class="md-form">
                        {{ discussion_form.title}}
                        <label for="{{ discussion_form.body.id_for_label }}">Title:</label>
                    </div>
                    <div class="form-group purple-border">
                        <label for="{{ discussion_form.body.id_for_label }}">Body:</label>
                        {{ discussion_form.body }}
                    </div>
                    <button class="btn btn-success btn-rounded" type="submit">Save changes</button>
                    <a href="/forum/discussion/{{ discussion.title}}" class="btn btn-warning btn-rounded">Cancel</a>

                    <button type="button" class="btn custom-btn btn-rounded" data-toggle="modal"
                        data-target="#modal_delete_query">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_delete_query" tabindex="-1" role="dialog" aria-labelledby="modal_delete_query"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deleting this discussion will PERMANENTLY delete it and their comments!
            </div>
            <div class="modal-footer">
                <a href="/forum/discussion/{{ discussion.title}}" class="btn btn-success btn-rounded">Cancel</a>
                <a href="/forum/discussion/{{ discussion.title}}/delete" class="btn custom-btn btn-rounded">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}