{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <section class="dark-grey-text">
        <h2 class="title-color text-center font-weight-bold mb-4 pb-2">{{ forum_data.topic }}</h2>
        <p class="text-center mx-auto w-responsive mb-5">{{ forum_data.description }}</p>
        {% if user.is_authenticated %}
        <div class="text-center">
            <a href="/forum/{{ forum_data.forum_name}}/new" class="btn custom-btn btn-md btn-rounded"><i
                    class="fas fa-plus-circle"></i> Create a new Post</a>
        </div>
        {% endif %}
        {% for discussion in discussions_data %}
        {% if not profile.premium and forum_data.premium_only %}
        <hr class="my-4">
        Forum is reserved to Concierge members only.
        {% else %}
        <hr class="my-4">
        <div class="row align-items-top">
            <div class="col-lg-5 col-xl-4">
                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                    <img class="img-fluid" src="{% get_media_prefix %}{{ discussion.picture }}" alt="Post Image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-xl-8">
                <h4 class="font-weight-bold mb-3"><strong>{{ discussion.title }}</strong></h4>
                <p class="dark-grey-text">{{ discussion.body }}</p>
                <p>by <a href="/profile/{{ discussion.poster }}" class="font-weight-bold">{{ discussion.poster }}</a>,
                    {{ discussion.date_created }} </p>
                <a href="discussion/{{ discussion.title }}" class=" btn custom-btn btn-md btn-rounded">View
                    Discussion</a>
            </div>
        </div>
        <hr class="my-5">
        {% endif %}
        {% endfor %}

    </section>
</div>

{% endblock %}