{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if user.is_authenticated and profile.premium %}
        <div class="container text-center mt-3">
            <img src="{% static 'img/logo_concierge.png' %}" class="logo-image img-fluid" alt="logo">
        </div>
    {% else %}
        <div class="container text-center mt-3">
            <img src="{% static 'img/logo_big_color.png' %}" class="logo-image img-fluid" alt="logo">
        </div>
    {% endif %}


    <div class="container my-5">
        {% if profile.premium %}
            <section class="dark-grey-text">
                <div class="row">
                    {% for forum in forums %}
                        {% if forum.premium_only %}
                            <div class="col-md-6 mb-4">
                                <a href="/forum/{{ forum.forum_name }}" class="card hoverable">
                                    <div class="card-body">
                                        <p><i class="fas fa-comments fa-3x text-red"></i></p>
                                        <h5 class="dark-grey-text my-4">{{ forum.topic }}</h5>
                                        <p class="text-muted font-weight-light mb-0">{{ forum.description }}</p>
                                    </div>
                                </a>
                            </div>
                            {% if forloop.counter|divisibleby:2 %}
                                </div><div class="row">
                                {% if not forloop.last %}
                                    <div class="row">
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        <hr class="my-3">

        <section class="dark-grey-text">
            <h1 class="my-3">Member Forums</h1>
            <div class="row">
                {% for forum in forums %}
                    {% if not forum.premium_only %}
                        <div class="col-md-6 mb-4">
                            <a href="/forum/{{ forum.forum_name }}" class="card hoverable">
                                <div class="card-body">
                                    <p><i class="fas fa-comments fa-3x text-red"></i></p>
                                    <h5 class="dark-grey-text my-4">{{ forum.topic }}</h5>
                                    <p class="text-muted font-weight-light mb-0">{{ forum.description }}</p>
                                </div>
                            </a>
                        </div>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}
                            
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </section>

    </div>
    
{% endblock %}