body {
    background-color: #FCF6F5FF;
}


/* Overriding Link colors */
	a:link, a:visited, a:hover, a:active {
		color: #990011FF;
	}



/* Overriding Bootstrap colors */
.danger-color, .btn-danger, .badge-danger, .custom-btn {
	background-color: #990011FF !important;
	color: #FCF6F5FF !important;
}



/* Bootstrap Navbar */
	.navbar-custom, .dropdown-item, .navbar-nav {
		background-color: #990011FF;
		color: #FCF6F5FF !important;
	}

	.navbar-custom .navbar-nav .dropdown-menu {
		background-color: #990011FF;
	}

.title-color, h1 {
	color: #990011FF;
}


@media (min-width: 576px) { 
	.logo-image {
		max-width:400px;
	}
}


/* Overriding CKEditor default image width */
.force-image-responsive img {
	max-width: 100% !important; 
	height: auto !important;
}