{% extends "base.html" %}
{% load static %}

<div class="container my-5 py-5 z-depth-1">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row">
            {% for price in prices %}
            <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                {% csrf_token %}
                <div class="col-md-6 mb-4 mb-md-0">
                    <h3 class="font-weight-bold">{{ product.name }}</h3>
                    <p class="text-muted">
                        {% for price in prices %}
                        molestiae
                    </p>
                    <a class="btn btn-purple btn-md ml-0" href="#" role="button">Start now<i
                            class="fa fa-gem ml-2"></i></a>
                    <button type="submit">Checkout</button>
                </div>
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
    </section>
</div>


<section>
    <div class="product">
        <div class="description">
            <h3>{{ product.name }}</h3>
            <hr />
            {% for price in prices %}

            <div>
                <h5>${{ price.get_display_price }}</h5>
                <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Checkout</button>
                </form>
            </div>

            {% endfor %}
        </div>

    </div>
</section>