{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container my-5 py-5 z-depth-1">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <h3 class="font-weight-bold">{{ product.name }}</h3>
                {% for price in prices %}
                <p class="text-muted">Exclusive access to World Forums Concierge member forums only and priority email
                    support.</p>
                <p>{{ price.get_display_price }}€</p>
                <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn custom-btn btn-rounded btn-sm" type="submit">Checkout</button>
                </form>
                {% endfor %}

            </div>
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="view overlay">
                    <img src="{% static 'img/logo_concierge.png' %}" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}